.button {
    display: inline-block;
    font-weight: bold;
    font-size: 20px;
    background-color: var(--color-nord4);
    padding: 8px 24px;
    border-radius: 8px;
    border: 2px solid var(--color-nord4);
    /* outline: none; */
}

/* .button:focus {
    border: 2px solid var(--color-focus);
} */

/* .button:focus-visible {
    border: 2px solid var(--color-focus);
} */
