.box {
    /* m */
    margin: 0;

    /* mt */
    margin-top: 0;

    /* mt40 */
    margin-top: 40px;

    /* m8-16 */
    margin: 8px 16px;

    /* ta:c */
    text-align: center;

    /* pos:a */
    position: absolute;
}
