.form {
    /* display: flex;
    flex-direction: column;
    gap: 64px; */
}

.form-item:not(:first-child) {
    margin-top: 64px;
}

.label {
    display: block;
    font-weight: bold;
    margin-bottom: 8px;
    color: inherit;
}

/* text */
/* ---------------- */
.text {
    width: 100%;
    padding: 12px;
    border-radius: 8px;
    box-shadow: 0 0 0 1px var(--color-nord4) inset, 0 0 0 4px transparent inset;
    outline: 0;
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
}

.text::placeholder {
    color: var(--color-nord4);
    font-weight: 700;
}

.text:focus {
    box-shadow: 0 0 0 1px var(--color-nord10) inset, 0 0 0 4px var(--color-nord4);
}

/* textarea */
/* ---------------- */
.textarea {
    width: 100%;
    padding: 12px;
    border-radius: 8px;
    box-shadow: 0 0 0 1px var(--color-nord4) inset, 0 0 0 4px transparent inset;
    min-height: 200px;
    outline: 0;
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    field-sizing: content;
}

.textarea::placeholder {
    color: var(--color-nord4);
    font-weight: 700;
}

.textarea:focus {
    box-shadow: 0 0 0 1px var(--color-nord10) inset, 0 0 0 4px var(--color-nord4);
}

/* radio */
/* ---------------- */
.radio-wrap {
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.radio {
    outline: none;
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
}

.radio-label {
    width: fit-content;
    display: flex;
}

.radio-text {
    cursor: pointer;
    display: inline-flex;
    align-items: center;
    font-weight: 700;
}

.radio-text::before {
    content: "";
    display: inline-block;
    width: 19px;
    height: 19px;
    box-shadow: 0 0 0 1px var(--color-nord4) inset, 0 0 0 3px transparent inset;
    border-radius: 50%;
    margin-right: 6px;
    flex-shrink: 0;
}

.radio:checked + .radio-text {
    color: var(--color-nord10);
}

.radio:checked + .radio-text::before {
    border: 5px solid var(--color-nord10);
    box-shadow: 0 0 0 1px transparent inset, 0 0 0 3px transparent inset;
}

.radio:focus-visible + .radio-text {
    color: var(--color-nord10);
}

.radio:focus-visible + .radio-text::before {
    box-shadow: 0 0 0 1px var(--color-nord10) inset, 0 0 0 3px var(--color-nord4);
}

/* checkbox */
/* ---------------- */
.checkbox-wrap {
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.checkbox {
    outline: none;
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
}

.checkbox-label {
    width: fit-content;
    display: flex;
}

.checkbox-text {
    cursor: pointer;
    display: inline-flex;
    align-items: center;
    font-weight: 700;
    position: relative;
}

.checkbox-text::before {
    content: "";
    display: inline-block;
    width: 19px;
    height: 19px;
    box-shadow: 0 0 0 1px var(--color-nord4) inset, 0 0 0 3px transparent inset;
    border-radius: 4px;
    margin-right: 6px;
    flex-shrink: 0;
}

.checkbox:checked + .checkbox-text {
    color: var(--color-nord10);
}

.checkbox:checked + .checkbox-text::before {
    border: 1px solid var(--color-nord10);
    background-color: var(--color-nord10);
    box-shadow: 0 0 0 1px transparent inset, 0 0 0 3px transparent inset;
}

.checkbox:focus-visible + .checkbox-text {
    color: var(--color-nord10);
}

.checkbox:checked + .checkbox-text::after {
    content: "";
    display: inline-block;
    width: 17px;
    height: 17px;
    background-image: url("../img/icon-check.svg");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    position: absolute;
    left: 0;
    top: 50%;
    translate: 0 -50%;
}

.checkbox:focus-visible + .checkbox-text::before {
    box-shadow: 0 0 0 1px var(--color-nord10) inset, 0 0 0 3px var(--color-nord4);
}

/* select */
/* ---------------- */
.select-wrap {
    position: relative;
    width: 280px;
}

.select-wrap::after {
    content: "";
    display: inline-block;
    background-image: url("../img/icon-arrow.svg");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    width: 24px;
    height: 24px;
    position: absolute;
    right: 8px;
    top: 50%;
    translate: 0 -50%;
    pointer-events: none;
}

.select {
    width: 100%;
    padding: 12px;
    border-radius: 8px;
    box-shadow: 0 0 0 1px var(--color-nord4) inset, 0 0 0 4px transparent inset;
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    cursor: pointer;
    outline: 0;
}

.select::-ms-expand {
    display: none;
}

.select:focus {
    box-shadow: 0 0 0 1px var(--color-nord10) inset, 0 0 0 4px var(--color-nord4);
}
