.kv {
    width: calc(100vw - 80px);
    /* height:calc(694px - 80px); */
    height: calc(100vh - 80px);
    margin-inline: auto;
    margin-top: 40px;
    background-image: url(../img/kv-bg.jpg);
    background-size: cover;
    background-position: center;
    border-radius: 40px 40px 40px 0px;
    display: flex;
    align-items: flex-end;
}

.kv-main {
    background-color: var(--color-white);
    border-radius: 0px 40px 0px 0px;
    padding: 26px 34px 18px 40px;
    position: relative;
}

.kv-main::before,
.kv-main::after {
    content: "";
    display: block;
    width: 40px;
    height: 40px;
    position: absolute;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    background-image: url("../img/icon-corners.svg");
}

.kv-main::before {
    left: 0;
    top: -40px;
}

.kv-main::after {
    right: -40px;
    bottom: 0;
}

.kv-text {
    font-family: Montserrat;
    font-size: 20px;
    font-weight: 700;
    line-height: 1.6;
}

.kv-text02 {
    font-size: 38px;
    font-weight: 700;
    line-height: 1.6;
}

.kv-cta {
    display: inline-block;
    margin-top: 14px;
    font-family: Montserrat;
    font-size: 16px;
    font-weight: 700;
    line-height: 1.6;
    text-decoration: underline;
}
