.button06 {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 250px;
    padding: 14px 0px;
    border-bottom: 2px solid var(--color-nord3);
    font-size: 18px;
    font-weight: 700;
}

.button06 img {
    width: 24px;
    height: 24px;
}

.button07 {
    width: 374px;
    padding: 18px 18px 18px 40px;
    border-radius: 100vh;
    background: var(--color-nord6);
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.button07-inner {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.button07-text,
.button07-text02 {
    font-weight: 700;
    line-height: 1;
}

.button07-text {
    font-size: 20px;
}

.button07-text02 {
    font-size: 14px;
}

.button07-icon {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-color: var(--color-nord3);
    display: flex;
    align-items: center;
    justify-content: center;
}

.button07 img {
    width: 22px;
    height: 22px;
}
