.button {
    /* display: flex; */
    padding: 12px 40px;
    /* justify-content: center; */
    /* align-items: center; */
    /* gap: 10px; */
    border-radius: 8px;
    border: 1px solid var(--nord-3-text, #4c566a);
    background: var(--nord6, #eceff4);
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.12);
    color: var(--nord-3-text, #4c566a);
    /* font-family: "Noto Sans JP"; */
    font-size: 20px;
    /* font-style: normal; */
    font-weight: 700;
    line-height: 2; /* line-height: 200%; */
    letter-spacing: 0.1em; /* letter-spacing: 2px; */
}
